/FirstClass/dist/
/FirstClass/nbproject/private/
/FirstClass/build/
/AreaCalculation/dist/
/RectangleArea/dist/
/VowelConsonant/nbproject/private/
/VowelConsonant/build/
/VowelConsonant/dist/
/CircleArea/nbproject/private/
/CircleArea/build/
/CircleArea1/nbproject/private/
/CircleArea1/build/
/RectangleArea/nbproject/private/
/RectangleArea/build/
